<div class="object-selection-container">
    <div class="container">
        <div class="row">
            <form role="form">            
                <div class="col-lg-6" style="padding-top: 15px;">    
                    <div class="form-group col-sm-12" ng-show="userSelection.userType==0">                    
                        <div class="input-group col-sm-12">
                            <input class="form-control" id="address" ng-model="userSelection.address" placeholder="Delivery Address" style="border-radius:3px" required>         
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="userSelection.userType == 0">                    
                        <div class="input-group col-sm-12">
                            <input class="form-control" id="deliveryPhone" ng-model="userSelection.dPhone" placeholder="Delivery Phone" style="border-radius:3px" required>         
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="userSelection.userType==0">                    
                        <div class="input-group col-sm-12">
                            <input class="form-control" ng-model="userSelection.pType" id="name" placeholder="Package Type" style="border-radius:3px" required>                    
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="userSelection.userType==0">                    
                        <div class="input-group col-sm-12">
                            <input class="form-control" id="phone" ng-model="userSelection.phone" placeholder="Quantity" style="border-radius:3px" required>         
                        </div>
                    </div>                    
                    <div class="form-group col-sm-12" ng-show="userSelection.userType != 0">                    
                        <div class="input-group col-sm-12">
                            <input class="form-control" ng-model="userSelection.name" id="name" placeholder="Name" style="border-radius:3px" required>                    
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="userSelection.userType != 0">                    
                        <div class="input-group col-sm-12">
                            <input class="form-control" id="phone" ng-model="userSelection.phone" placeholder="Phone" style="border-radius:3px" required>         
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="userSelection.userType != 0" >                    
                        <div class="input-group col-sm-12">
                            <input type="email" class="form-control" id="email" ng-model="userSelection.email" style="border-radius:3px" placeholder="Email: name@doodly.com" required>                    
                        </div>
                    </div>
                    <div class="form-group col-sm-12" ng-show="userSelection.userType != 0">                    
                        <div class="input-group col-sm-12">
                            <input class="form-control" id="capacity" ng-model="userSelection.capacity" placeholder="Capacity" style="border-radius:3px" required>         
                        </div>
                    </div>                       
                </div>
            </form>        
        </div>
    </div>

    <div class="modal-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="col-sm-2">                        
                        <input name="submit" id="submit" value="Submit" ng-click="sendPackageRedirect()" class="col-sm-12 btn btn-info">
                    </div>
                    <div class="col-sm-2">
                        <input name="submit" id="submit" value="Cancel" ng-click="sendPackageRedirect()" class="col-sm-12 btn btn-info">                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>