/*body {
    margin: 0 auto;
    padding: 0;
    width: 600px;
}

.my-app {    
    padding-top: 20px;
    padding-bottom: 20px;    
    margin-top: 20px;
    border: 1px solid #eee;
    border-radius: 4px;
}*/

.interactive{
    cursor: pointer !important;
}

.normal-font{
    font-weight: normal;
}

.mandatory-symbol {
    color: rgb(169, 68, 66);
    opacity: 1 !important;
    display: inline;
    font-size: 18px;
    margin-left: 2px;
}

.angular-google-map-container { 	
	height : 700px;
	width : 100%;
 }

 .object-selection-container .angular-google-map-container{
    height : 0px;
    width : 100%;  
 }

 .doodly-radio{
    color: #9d9da3;    
    font-weight: 500
 }

.doodly-input{
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    outline: none;
    font-size: 13px;
}
 .doodly-input-line{
    position: absolute;
    z-index: 2;
    display: block;
    bottom: -1px;
    height: 5px;
    border: none;
    border-bottom: 1px solid #97bcf9;
    right: 16px;
    left: 16px;
}

.contact-team-height{
    min-height: 330px;
}

.user-label{
    position: fixed;
    right: 20px;
    padding-top: 0;
    font-size: 14px;
}



