<!DOCTYPE html>
<html lang="en" ng-app="doodly">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Doodly</title>
	
	<!-- core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/form-elements.css" rel="stylesheet"/>
</head><!--/head-->

<body class="homepage" ng-controller="MainCtrl">
    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand"><img src="images/doodlyLogo.png" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="menu in menus" ng-class="(menu.id == currentMenu.id) ? 'active' : ''">
                            <a class="interactive" ng-click="clickMenu(menu)">{{menu.label}}</a>
                        </li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header>
    <div class="my-app" ui-view></div>
    <footer id="footer" class="midnight-blue" ng-if="currentMenu.id != 'signupMenu'">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" title="Delivery expert">Doodly</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.0/lodash.js"></script>            
    <script src="lib/angular/angular.js"></script>        
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-ui-router.js"></script>
    <script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false'></script>
    <script src="lib/angular/angular-google-maps.min.js"></script>        
    <script src="lib/angular/angular-animate.js"></script>                    
    <script src="lib/angular-simple-logger.js"></script>            
    <script src="lib/ui-bootstrap-tpls-0.11.0.js"></script>   
    <script src="lib/polyline.js"></script>
    
    <script src="js/app.js"></script>                
    <script src="js/geoLocationFactory.js"></script> 
    <script src="js/route.js"></script>
    <script src="js/simulatorCtrl.js"></script>   
    <script src="js/simulatorFactory.js"></script>
    <script src="js/simulatorService.js"></script>
    <script src="js/doodlyService.js"></script>
    <script src="js/mainCtrl.js"></script>


</body>
<!--/#footer-->
</html>